* {
  margin: 0;
  padding: 0;
}
.form {
  margin: auto;
  max-width: 500px;
  background-color: #f5f6fc;
  border-radius: 15px;
}
.input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 15px 15px 40px;
  background-color: #fefdff;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
}
.form-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.image {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
}
.input:focus {
  outline: none;
}
.form-content-wrapper {
  padding: 40px;
}
.input--button {
  background-color: #682eeb;
  color: #f5f2fd;
  transition: 0.3s;
}
.image--white {
  left: 172px;
  width: 20px;
  height: 20px;
}
